<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="in_progress_style.css">
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
	<script type="text/javascript" src="jquery.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>	
</head>
<body>
<div class="row">
	<h1>Oops!</h1>
	<h2>I haven't quite gotten around to building this webpage just yet.</h2>
	<h2>Try another page!</h2>
	<h2><a href="/">Home</a></h2>
</div>
</body>
</html>
