<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Music</title>
	<link rel="stylesheet" type="text/css" href="music_style.css">
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<script type="text/javascript" src="jquery.min.js"></script>
	<script type="text/javascript" src="bootstrap.min.js"></script>
	<script type="text/javascript" src="jquery-ui.js"></script>
	<script type="text/javascript">

	var scroll_threshold = 800;
	//change the header at the top of the page depending on where we are scrolled to
	$(window).on("scroll", function() {
		var scroll_pos = window.pageYOffset;
		console.log(scroll_pos);
		if (scroll_pos >= scroll_threshold) {
			$("#header").css("background-color", "#6E6E6E");
			$("#header > h1").html("Senior Recital");
		} 
		else if (scroll_pos < scroll_threshold) {
			$("#header").css("background-color", "#FF5A09");
			$("#header > h1").html("Works in progress...");
		}		
	});	

	//bring in the containers from the left with easing.
	$(document).ready(function() {
		var elements = $(".row");
		// console.log(elements);

		//go through the array of elements, easing one in at a time
		//also update the threshold for changing the header, as the document will be longer when a video is shown
		var i = 0;
		window.setInterval(function() {
			$(elements[i]).animate({left: "0px"}, 1000, "easeInOutElastic", function() {});
			i++;
		}, 500);

		$(".expand-butt").click(function() {
			$(this).children("span").toggleClass("clicked");
			if ($(this).parent('div').css('height') > "500px") {
				console.log("Collapsing");
				$(this).parent('div').animate({height: "-=480px"}, 500, "swing", function() {});
				scroll_threshold -= 480;
			} else {
				console.log("Expanding");
				$(this).parent('div').animate({height: "+=480px"}, 500, "swing", function() {});
				scroll_threshold += 480;
			}
			$(this).prev('div').toggle();
		});
	});

	</script>
</head>
<body>
<div class='at_top' id="header">
	<h1>Works in progress...</h1>
</div>
<div class="container">
</div>
<div class="row front">
	<h1>So what if I play music?</h1>
	<ul>
		<li>A scale in music is a preordained set of notes that you can play, just like using a specific coding language.</li>
		<li>Semantic code structure looks very similar to written music, with organized lines, stacks notes that make up a chord, and stacks of code that make up a function. These functions can then be used to give your code power, just as chords can give music more power.</li>
		<li>Writing code requires strict adherence to the accepted standards, as does writing music. If you deviate from a given key or scale, it will be harder for others to make sense of the music.</li>
	</ul>
	<h2>The passion that I bring to music is the same passion that I bring to coding...</h2>
</div>
<div class="row musical_piece la_campanella">
	<div class="holder">
		<h3 class="composition_title">Franz Liszt - Grandes etudes de Paganini, S. 141</h3>
		<h4 class="composition_name">Etude No. 3 in G# minor "La Campanella"</h4>
		<p>Latin for "little bell", La Campanella is a piano arrangement of the melody from the last movement of Paganini's second Violin Concerto. It studies right hand jumping between large intervals. Additional technical difficulties include trills with the fourth and fifth fingers and large jumps in the left hand.</p>
		<p>I began learning this piece after watching the video linked in the button below. It is spectacular and very catchy, as most of Paganini's melodies are. It is defintely the most difficult piece I will learn up to this point.</p>
		<p><b>Click to hear what this piece sounds like!</b></p>
		<div hidden>
			<iframe width="845" height="480" src="https://www.youtube.com/embed/vwc-nmyPm4I?controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>
		<button type="button" class="btn expand-butt un-clicked"><span class="glyphicon glyphicon-chevron-down"></span></button>	
	</div>
</div>
<div class="row musical_piece un_sospiro">
	<div class="holder">
		<h3 class="composition_title">Franz Liszt - 3 Etudes de concert, S. 144</h3>
		<h4 class="composition_name">Etude No. 3 in Db major "Un Sospiro"</h4>
		<p>Un Sospiro is an etude that studies the crossing of the hands. Its name is Italian for "A sigh". It is also a study in the way that hands should affect the melody, with its many accentuations and phrasing with alternate hands. The piece is quite complex, even utilizing three staves at times. It is widely regarded as one of the most beautiful piano pieces ever composed.</p>
		<p>Not having played it since my recital several years ago, I am trying to bring it back up to snuff and fix some of the rushed phrasing and missed notes that were present in my recital.</p>
		<p><b>Click to hear what this piece sounds like!</b></p>
		<div hidden>
			<iframe width="845" height="480" src="https://www.youtube.com/embed/0_FCTTmr8JM?controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>
		<button type="button" class="btn expand-butt un-clicked"><span class="glyphicon glyphicon-chevron-down"></span></button>
	</div>
</div>
<div class="row musical_piece jeux_deau">
	<div class="holder">
		<h3 class="composition_title">Maurice Ravel - Jeux d'eau</h3>
		<p>Dedicated to Gabriel Faure, Ravel composed this piece in 1901 under the tutelage of Faure. It is a late-romantic and impressionistic work using the whole-tone scale. It is written in sonata form, though it does not conform to the traditional sonata tonal form. It is very technically challenging and requires suppleness of fingers in order to perform the dense orchestration while bringing out a properly phrased melody. Its name is french for "Water play", or "Water fountain". It was written to convey the sounds of water splashing or being sprayed.</p>
		<p>This amazing impressionistic masterpiece is one of my all time favorites. It is unbelievable how Ravel actually makes the piano emulate the sounds of water. Also extremely difficult, I run into issues with my hands not being quite large enough to play some notes simultaneously.</p>
		<p><b>Click to hear what this piece sounds like!</b></p>
		<div hidden>
			<iframe width="845" height="480" src="https://www.youtube.com/embed/J_36x1_LKgg?controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>
		<button type="button" class="btn expand-butt un-clicked"><span class="glyphicon glyphicon-chevron-down"></span></button>
	</div>
</div>
<!-- <div id="header2">
	<h1>Senior Recital</h1>
</div> -->
<div class="row recital_piece">
	<div class="holder">
		<h3 class="composition_title">Ludwig van Beethoven - Piano Sonata No. 8 in C Minor Op. 13 - "Pathetique"</h3>
		<h4 class="composition_name"> Movement I - Grave</h4>
		<p>Beethoven's Pathetique sonata is one of his most famous. Beethoven wrote it when he was just 27 years old and dedicated it to his friend Prince Karl von Lichnowsky. The piece was named "Grane sonate pathetique" by the publisher, because of its tragic sonorities.</p>
		<p>This piece just plain sounds cool. It is not terribly difficult, but the opportunity to learn a Beethoven sonata should never be passed up. what they may lack in difficulty they make up for by teaching you about tonality, stamina of theme, and wrapping a large work together.</p>
	</div>
</div>
<div class="row recital_piece">
	<div class="holder">
		<h3 class="composition_title">Franz Liszt - An&eacuteenes de p&egravelerinage</h3>
		<h4 class="composition_name">Deuxi&egraveme ann&eacutee: Italie - Sonetto 104 del Petrarca</h4>
		<p>Franz Liszt composed his "Years of Pilgrimage" is widely regarded as a masterwork and complete summation of Liszt's compositional style. Its title refers to Goethe's novels "Whilhelm Meister's Apprenticeship" and "Wilhelm Meister's Journeyman Years". The Petrarch sonnets are pieces that are designed to be evocative of the corresponding sonnet. This particular sonnet is as follows:</p>
		<div class="sonnet">
			<p><i>"I find no peace, but for war am not inclined;</i></p>
			<p><i>I fear, yet hope; I burn, yet am turned to ice;</i></p>
			<p><i>I soar in the heavens, but lie upon the ground;</i></p>
			<p><i>I hold nothing, though I embrace the whole world.</i></p>
			<p></p>
			<p><i>Love has me in a prison which he neither opens nor shuts fast;</i></p>
			<p><i>He neigher claims me for his own nor loosens my halter:</i></p>
			<p><i>He neither slays nor unshackles me;</i></p>
			<p><i>He would not have me live, yet leaves me with my torment.</i></p>
			<p></p>
			<p><i>Eyeless I gaze, and tongueless I cry out;</i></p>
			<p><i>I long to perish, yet plead for succour;</i></p>
			<p><i>I hate myself, but love another.</i></p>
			<p><i>I feed on grief, yet weeping, laugh;</i></p>
			<p><i>Death and life alike repel me;</i></p>
			<p><i>And to this state I am come, my lady, because of you.</i></p>
		</div>
		<p>I chose to learn this piece after hearing a colleague in the piano studio play it. Its beautiful melody and impressive runs made it a great choice for my first Liszt work.</p>
	</div>
</div>
<div class="row recital_piece">
	<div class="holder">
		<h3 class="composition_title">Johannes Brahms - Sonata No. 2 for Piano and Violin in A Major</h3>
		<h4 class="composition_name">With Kyle Unruh - Violin</h4>
		<p>Johannes Brahms composed this sonata while vacationing in Switzerland. Its name suggests added importance of the piano part, rather than the usual "
		Sonata for Violin and Piano". The melodies include snippets from three songs that Brahms wrote earlier, and the first three notes from the first movement are almost identical to those from Richard Wagners "Walther's Prize Song" from his opera "Die Meistersinger von N&uumlrnberg. The piece is deceptively difficult, with complicated melodic/chordal integration and awkward chord structures.</p>
		<p>I struggled greatly with this piece. It was my first Brahms work, so I was entirely unfamiliar with his style of composition and melodic phrasing. I would have liked to continue working on the piece after my recital, as that performance was far from acceptable in my opinion.</p>
	</div>
</div>
<div class="row recital_piece">
	<div class="holder">
		<h3 class="composition_title">Schumann-Liszt - Widmung</h3>
		<p>This is the beautiful leider "Widmung" written by Robert Schumann, arranged for the piano by Liszt. It is tons of fun to play, the melody is amazing, and the ending is VERY satisfying to play, as you can really let go and play as loud as you possibly can.</p>
	</div>
</div>
<div class="row recital_piece">
	<div class="holder">
		<h3 class="recital_title">Recital Part I</h3>
		<iframe src="https://player.vimeo.com/video/143323966" width="100%" height="480px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
	</div>
</div>
<div class="row recital_piece">
	<div class="holder">
		<h3 class="recital_title">Recital Part II</h3>
		<iframe src="https://player.vimeo.com/video/143431604" width="100%" height="480px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
	</div>
</div>
</body>
</html>