<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Voice-Chat</title>
	<link rel="stylesheet" type="text/css" href="projects_style.css">
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
	<script type="text/javascript" src="bootstrap/jquery.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		$('#projects-background').delay(1500).slideUp('slow');
	})
	</script>
</head>
<body>
<div id="projects-background">
	<h1>Projects</h1>
</div>
<div id="container">
	<div class="row projects-content">
		<div class="col-sm-3 col-md-3 col-lg-3 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
			<div class="holder">
				<img src="/images/ruby_icon.png" alt="Ruby" class="column-header">
				<h2>Ruby</h2>
				<a class="project-label btn btn-primary" href="/project">Users</a>
				<a class="project-label btn btn-primary" href="/project">Events</a>
				<a class="project-label btn btn-primary" href="/project">Playlists</a>
			</div>
		</div>
		<div class="col-sm-3 col-md-3 col-lg-3">
			<div class="holder">
				<img src="/images/mean_icon.png" alt="MEAN" class="column-header">
				<h2>MEAN</h2>
				<a class="project-label btn btn-primary" href="/project">Mini-Store</a>
				<a class="project-label btn btn-primary" href="/project">Orders and Customers</a>
				<a class="project-label btn btn-primary" href="/projects/voicechat">Voicechat</a>	
			</div>			
		</div>
		<div class="col-sm-3 col-md-3 col-lg-3">
			<div class="holder">
				<img src="/images/lamp_icon.png" alt="LAMP" class="column-header">
				<h2>LAMP</h2>
				<a class="project-label btn btn-primary" href="/project">Formula1 Databucket</a>
				<a class="project-label btn btn-primary" href="/project">Magrathea</a>
				<a class="project-label btn btn-primary" href="/project">The Wall</a>	
			</div>				
		</div>
	</div>
	</div>
</div>
</body>
</html>