/*
dark-grey: #393939
dark-orange: #FF5A09
medium-orange: #F3843E
light-orange: #FF9900
light-grey: #6E6E6E
*/
body {
	background-color: #393939!important;
}
.banner {
	font-size: 6em;
	color: #FF9900;
}
.time_container {
	background-color: #6E6E6E;
	margin: 0px 300px;
	padding: 20px;
}
.time_container p {
	font-size: 1.8em;
	font-weight: bold;
	color: #FF9900;
}
img {
	width: 300px;
	height: 300px;
	margin: 50px auto;
	display: block;
	padding: 20px;
	border-top: 4px double #FF9900!important;
	border-bottom: 4px double #FF9900!important;

}
h1, h2 {
	text-align: center;
}
h2 {
	color: #FF9900!important;
	padding-top: 50px;
	padding-bottom: 100px;
	width: 100%;
	font-size: 3em!important;
	vertical-align: middle;
	margin-bottom: 20px!important;
}
.icon {
	margin-left: 20px;
}
#icons {
	border-bottom: 2px solid #FF5A09;
	text-align: center;
	margin-top: 20px;
}


