/*
dark-grey: #393939
dark-orange: #FF5A09
medium-orange: #F3843E
light-orange: #FF9900
light-grey: #6E6E6E
*/
@-webkit-keyframes animate-background {
	from {background-color: #6E6E6E;}
	to {background-color: #393939;}
}
body {
	font-family: 'Raleway', sans-serif!important;
	background-color: #6E6E6E; 
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	-webkit-animation-name: animate-background;
	-webkit-animation-duration: 4s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
}

.container-fluid {
	padding: 0px!important;
	margin-top: 80px;
}
h1, h2, h3, h4 {
	font-family: 'Raleway', sans-serif!important;
	margin: 10px 0px!important;
}
p, li {
	font-family: 'Raleway', sans-serif!important;
}
.nav {
	position: fixed;
	top: 0px;
	background-color: #FF5A09;
	box-shadow: 0px 5px 7px black;
	width: 100%;
	margin: 0px 0px 0px 0px!important;
	padding: 0px 15px!important;
	z-index: 1000;
}
.footer {
	position: fixed;
	bottom: 0px;
	z-index: 1000;
	background-color: #FF5A09;
	box-shadow: 0px -5px -7px black;
	width: 100%;
	margin: 0px 0px 0px 0px!important;
	padding: 0px 15px!important;
	text-align: center;
}
.nav * {
	text-align: center;
	margin: 5px!important;
}
#name {
	position: relative;
	left: -1200px;
	color: white;
	font-weight: bold;
}
#title {
	position: relative;
	left: 1200px;
	font-family: 'Inconsolata'!important;
	color: #393939;
}
.code {
	font-family: 'Inconsolata'!important;
	text-align: center;
	margin: 3% auto;
	font-size: 2em;
	color: #FF5A09;
}
.floating_container {
	padding: 20px;
	background-color: white;
	box-shadow: 0px 0px 20px #FF5A09;
}
#picture {
	display: block;
	margin: 20px auto;
	height: 300px;
	width: 300px;
	border-radius: 5px;
}
#icons {
	position: relative;
	top: -700px;
	list-style-type: none;
	display: block;
	text-align: center;
}
#icons li {
	display: inline-block;
	margin: 15px 20px;
	font-size: 5em;
}
#icons li i {
	color: #FF5A09;
}

#icons li i:hover {
	color: rgb(199,66,0)!important;
}
#divider {
	display: block;
	margin: 0 auto;
	height: 20px;
	width: 0%;
	border-bottom: 3px solid black;
}
.content {
	width: 80%;
	margin: 20px auto;
	padding: 10px;
	background-color: rgba(240,240,240,1);
	outline: 5px solid rgba(220,220,220,1)
}
	.inner_content {
		padding: 5px 20px;
	}
.btn-default {
	border-radius: 0px!important;
	font-family: 'Inconsolata'!important;
	background-color: #FF5A09!important;
	color: white!important;
}
.btn-default:hover {
	background-color: rgb(199,66,0)!important; 
}
#projects * {
	display: inline-block;
}
/* MODAL STYLING */
.modal-body img {
	width: 100%;
	margin: 10px 0px;
	z-index: 0;
	position: relative;
}
.modal-body ul {
	list-style-type: none;
}
.btn-primary {
	border-radius: 0px!important;
	background-color: #6E6E6E!important;
	color: white!important;
	font-family: 'Inconsolata'!important;
}
	.btn-primary:hover {
		background-color: #393939!important;
	}
	.modal-body {
		max-height: 50em!important;
		overflow-y: scroll;
		overflow-x: hidden;
	}
	.modal-title {
		font-family: 'Inconsolata'!important;
		font-size: 2em;
	}
	.modal-header {
	    border-bottom: 1px solid #e5e5e5;
		box-shadow: 0px 3px 8px black;
	}
	.modal-footer {
		box-shadow: 0px -3px 8px black;
		text-align: center!important;
	}
	.modal-body p {
		padding: 5px 20px;
	}
	.modal-dialog {
		width: 75%!important;
	}
